<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',    filename='sticky-footer.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://kit.fontawesome.com/1e3074ced1.js" crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %} HvA Kennisbank</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">HvA Scripties</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <l1 class="nav=item">
              <a class="nav-link" href="/"><span>Home</span></a>
            </l1>
            <l1 class="nav=item">
              <a class="nav-link" href="{{ url_for('index.index') }}"><span>Home 2</span></a>
            </l1>
            <l1 class="nav=item">
              <a class="nav-link {% if section == "faq" %} active{% endif %}"
                href="{{ url_for('faq.faq') }}"><span>FAQ</span></a>
            </l1>
            <l1 class="nav=item">
              <a class="nav-link{% if section == "disclaimer" %} active{% endif %}"
                href="{{ url_for('disclaimer.disclaimer') }}"><span>Disclaimer</span></a>
            </l1>
            <l1 class="nav=item">
              <a class="nav-link{% if section == "help" %} active{% endif %}"
                href="{{ url_for('helpp.help') }}"><span>Help</span></a>
            </l1>
          </ul>
          <form action="{{ url_for('search.result') }}" method="GET" class="form-inline mt-2 mt-md-0">
            <input name="text" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <nav aria-label="Page navigation">
        {% block pagination %}{%endblock pagination %}
      </nav>
      <div class="row">
        {% if section == "results" %}
        <nav class="col-3 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            {% block facets %}{% endblock facets %}
          </div>
        </nav>
        {% endif %}
        <main role="main" class="col-{% if section == "results" %}9{% else %}12 {% endif %} ml-sm-auto px-4">
          {% block content %}{% endblock content %}
        </main>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      Kijk ook in de HBO Kennisbank voor scripties en publicaties van alle hogescholen.
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>