{% extends 'base.html' %}

{% block content %}
<main role="main" class=container>
    <h1 class="mt-5">Disclaimer/Klachten</h1>
    <p>Meent u dat de digitale beschikbaarstelling van bepaald materiaal inbreuk maakt op enig recht dat u
        toekomt
        of uw (privacy)belangen schaadt, dan kunt u dit onderbouwd aan de Hogeschoolbibliotheek laten weten.
        Bij een gegronde klacht zal de Hogeschoolbibliotheek de scriptie ontoegankelijk maken en/of van de
        website
        verwijderen, dan wel samen met u bekijken hoe op een andere manier aan uw klacht tegemoet kan worden
        gekomen.
        Neem hiervoor contact met de
        bibliotheek: <a target="_blank"
            href="http://www.hva.nl/bibliotheek/contact">http://www.hva.nl/bibliotheek/contact</a>
    </p>
</main>
{% endblock content %}