{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
    <h1 class="mt-5">FAQ</h1>

    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>1. Welke voorwaarden zijn er voor het plaatsen van een scriptie?</h4>
        <p>Je kunt een scriptie plaatsen als er aan twee voorwaarden is voldaan:</p>
        <ul>
            <li>Je hebt in het kader van je studie aan de HvA een scriptie geschreven.</li>
            <li>Jouw scriptie is door de opleiding als voldoende beoordeeld.</li>
        </ul>
        <p>De opleiding bepaalt zelf welke beoordeling voor jouw scriptie minimaal nodig is om in HvA Kennisbank te
            worden opgenomen.</p>
    </div>

    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>2. Hoe kan ik mijn scriptie in de HvA Kennisbank plaatsen?</h4>
        <p>De scripties worden voor jou door de informatiespecialisten van de Bibliotheek in de HvA Kennisbank
            geplaatst.
            Neem contact op met het afstudeerbureau van je opleiding voor het aanleveren van de scriptie aan de
            Bibliotheek.</p>
    </div>


    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>3. Auteursrecht</h4>
        <p>Met ondertekening van een akkoord voor publicatie geeft de student toestemming voor publicatie in de HvA
            Kennisbank en de
            HBO Kennisbank. Voor meer informatie hierover is er het auteursrechteninformatiepunt:
            <a href="http://uba.uva.nl/diensten/schrijven-publiceren/auteursrecht/auteursrecht.html"
                target="_blank">uba.uva.nl/diensten/schrijven-publiceren/auteursrecht/auteursrecht.html</a></p>
    </div>

    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>4. Disclaimer/Klachten</h4>
        <p>Meent u dat de digitale beschikbaarstelling van bepaald materiaal inbreuk maakt op enig recht dat u toekomt
            of uw (privacy)belangen schaadt, dan kunt u dit onderbouwd aan de Hogeschoolbibliotheek laten weten. Bij een
            gegronde klacht zal de Hogeschoolbibliotheek de scriptie ontoegankelijk maken en/of van de website
            verwijderen,
            dan wel samen met u bekijken hoe op een andere manier aan uw klacht tegemoet kan worden gekomen.
            Neem hiervoor contact met de bibliotheek: <a href="http://www.hva.nl/bibliotheek/contact"
                target="_blank">http://www.hva.nl/bibliotheek/contact</a></p>
    </div>


    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>5. Scripties en privacy</h4>
        <p>De scripties worden in de HvA Kennisbank en de HBO Kennisbank <b><i>open access</i></b> gepubliceerd, d.w.z.
            dat de hele wereld er bij kan.
            Privacygevoelige informatie moet je dus uit de scriptie verwijderen voordat deze geplaatst wordt. Denk aan
        </p>
        <ul>
            <li>Je eigen adresgegevens en telefoonnummer</li>
            <li>Gegevens over respondenten die hebben meegewerkt aan je onderzoek</li>
            <li>Bedrijfsgevoelige informatie van je stageplek.</li>
        </ul>
        <p>Zie verder het lemma <a
                href="http://www.hva.nl/onderwijs/praktisch/content/algemeen/hva-breed/bibliotheek/scriptieadvies/scriptieadvies.html"
                target="_blank">Scriptieadvies</a> op MijnHvA.nl.</p>
    </div>


    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>6. Welke diensten biedt HvA Kennisbank aan?</h4>
        <p>Een betrouwbare opslag van de digitale scripties.<br>
            Een interface waarin gebruikers kunnen zoeken en browsen in de bibliografische informatie (metadata) van
            alle opgeslagen scripties.<br>
            Een bestrouwbare vaste link (URL) naar de volledige tekst van de scriptie in het archief.<br>
            Onderwijsinstituten en opleidingen kunnen vanuit hun website linken naar een overzichtspagina met relevante
            scripties.</p>
    </div>


    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>7. Hoe worden de scripties verder beschikbaar gesteld?</h4>
        <p>Via de HvA Kennisbank komen de scripties ook in de <a href="http://www.hbo-kennisbank.nl/"
                target="_blank">landelijke HBO Kennisbank</a>.</p>
    </div>

    <!-- ======================================================================================== -->
    <div class="newquestion">
        <h4>8. Meer informatie?</h4>
        <p>Voor meer informatie wend je je tot jouw afstudeerbureau, de Bibliotheek op jouw locatie, of mail je naar <a
                href="mailto:bibliotheek@hva.nl">bibliotheek@hva.nl</a>.</p>
    </div>

</main>
{% endblock content %}