{% extends 'base.html' %}

{% block content %}

  <h1 class="mt-5">Wat is HvA Kennisbank</h1>
  <p class="lead">HvA Kennisbank is een dienst van de Bibliotheek van de Hogeschool van Amsterdam voor het wereldwijd
    beschikbaar maken van scripties van de Hogeschool van Amsterdam.</p>
  <form action="{{ url_for('search.result') }}" class="quicksearch" method="GET" onsubmit="return true;">
    <table width="100%">
      <tr valign="middle">
        <td width="400px">
          <input type="text" name="text" size="60" class="quicksearch" value="Snel zoeken"
            onClick="if (this.value == 'Snel zoeken') this.value='';" />
        </td>
        <td>
          <button class="button" type="submit"><span>Zoek &gt;&gt;</span></button>
        </td>
      </tr>
    </table>
  </form>

{% endblock %}